.about-section {
    padding: 6rem 0 0;
    /* background-image: linear-gradient(rgb(227 207 207 / 92%), rgb(229 217 217 / 71%)); */
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-position-y: center;
    background-position-x: center;
    border-bottom: 8px black solid;
}
 
.about-details-section {
    /* background-image: url(/assets/images/about-me-background.png); */
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
    height: 765px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-me {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.about-text {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    color: #27ff00;
    max-width: 400px;
    padding-top: 35px;
    line-height: 32px;
}

.about-flash {
    width: 500px;
    padding-top: 6px;
    color:#f2f;
    -webkit-animation: flash linear 1s infinite;
    animation: flash linear 1s infinite;
}
@-webkit-keyframes flash {
    0% { opacity: 1; } 
    50% { opacity: .1; } 
    100% { opacity: 1; }
}
@keyframes flash {
    0% { opacity: 1; } 
    50% { opacity: .1; } 
    100% { opacity: 1; }
}

.about-img-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .about-me img {
        max-width: 100%;
    }

    .details-box {
        max-width: 70%;
        margin-bottom: 10px;
    }
  
    .about-details-section {
        background-position-y: bottom;
        max-width: 530px;
        height: 630px;
        margin: auto;
    }
  
    .about-me {
        position: absolute;
        top: 840px;
    }
  
    .about-text {
        font-size: 20px;
        max-width: 50%;
        padding-top: 20px;
        line-height: 22px;
    }
  
    .about-flash {
        max-width: 330px;
        padding-top: 105px;
    }
}

@media screen and (max-width: 550px) {
    .details-box {
        max-width: 90%;
        justify-content: space-around;
    }

    .about-details-section {
        max-width: 360px;
        height: 400px;
    }
  
    .about-flash {
        max-width: 210px;
        padding-top: 45px;
    }
  
    .about-text {
        font-size: 13px;
        line-height: 18px;
    }
}

@media screen and (max-width: 450px) {
    .details-box {
        flex-direction: column;
        max-width: 70%;
        padding: 15px
    }
  
    .my-details {
        padding: 15px;
    }
  
    .about-section {
        padding: 4rem 0 0;
    }
}

@media screen and (max-width: 359px) {
    .about-details-section {
        max-width: 340px;
        height: 420px;
    }
  
    .about-flash {
        max-width: 175px;
        padding-top: 90px;
    }
}