img {
  border-radius: 5px;
}

h1, h3 {
  font-family: "Oswald", sans-serif;
}

h2, h4 {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.hide {
display: none ;
}

/* Footer */
.footer {
  background-color: #84857F;
  padding-top: 5rem;
  padding-bottom: 5rem;
  color: #fff;
}

.copyright {
  background-color: #252925;
}

.shopify-portfolio {
background-color: #f6f8f3;
}

.shopify-modal-content {
top: 120px;
padding: 5px;
}

@media screen and (max-width: 768px) {
  .col-6 {
      width: 100%;
  }
}